@import "tailwindcss";

@theme {
  --color-brand: #7c3aed;
  --color-brand-light: #a78bfa;
  --color-surface: #11111a;
  --color-background: #0a0a0f;
}

/* Base Next styles */
html, body {
  background-color: var(--color-background);
  color: white;
  min-height: 100vh;
}
